<header>
  <div class="flex">
    <img
      class="image"
      src="assets/icons/honeydew-via-bonny.png"
      alt="honeydew pixel art"
    />
    <div class="align-center">
      <app-button
        [buttonText]="'Hxneydew\'s Game Hub'"
        [variant]="ButtonVariant.HEADER"
      />
    </div>
    <div id="route-holders" class="flex nav-items">
      <app-button [buttonText]="'Snake'" />
      <app-button [buttonText]="'Speed'" />
      <app-button [buttonText]="'Tic Tac Toe'" />
      <app-button [buttonText]="'Pong'" />
      <app-button [buttonText]="'Connect Four'" />
    </div>
  </div>
</header>
